<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {%- include head.html -%}

  <body>

    {%- include header.html -%}

    <main class="page-content" aria-label="Content">
      <div class="wrapper">
        {% comment %}
        {%- if page.title -%}
          <h1 class="page-heading">{{ page.title }}</h1>
        {%- endif -%}
        {% endcomment %}
        {{ content }}
      </div>
    </main>

    {%- include footer.html -%}

    <!-- jQuery -->
    <script src="/assets/vendor/jquery/dist/jquery.min.js"></script>
    <!-- D3JS Library -->
    <script src="/assets/vendor/d3/d3.min.js"></script>
    <!-- My custom JS -->
    <script src="/assets/js/app.js"></script>

  </body>
</html>
